.navbar {
  display: flex;
  background-color: #222;
  justify-content: space-between;
  padding: 1em;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.item {
  margin-left: 1em;
  display: flex;
  align-items: center;
  gap: 8px;
}

.item a {
  color: #fff;
  text-decoration: none;

}

.item a:hover {
  color: #ffbb33;
}

svg {
  color: #ffbb33;
}